body{
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
    
  }
  .thumbnails{
    
      /* border-radius:10px; */
      width: 20%;
      padding: 8px;
      float: left;
      height:35%;
      margin: 10px;
      margin-left: 20px;
      background: white;
     }        
   main{
    padding:10px;
    /* padding-left:4%;
    padding-right:-20px; */
   
    overflow:hidden;             
   } 
  img{
    height:100%;
    width:100%;
  }
  .button{
    display:flex;
    justify-content:flex-start;
  }
  .button a{
    font-size:large;  
    color:cyan;
    text-decoration: none;
  }
  .button a:hover{
    color:yellow;
    transition: 0.3s;;
  }
  main{
    min-height:80%;
  }